/* min-width is to prevent logo and menu overlapping = logo-container:width + mainmenu-container:width + a bit for the margin-left:2% */

#header
{
    width:        100%;
    min-width:    525px;
    height:       70px;
    background-color: #000000;
}

#logo-container
{
    position:     relative;
    float:        left;
    top:          5px;
    margin-left:  5%;
    width:        200px;
    height:       60px;
    /*background-color: #ffff00;*/
}

#mainmenu-container
{
    position:     relative;
    float:        right;
    top:          20px;
    width:        200px;
    height:       25px;
    margin-right: 5%;
    background-color: #0000FF;
}


#mainmenu
{
    float: right;
    width: 200px;
}

#menu-partners,
#menu-filters,
#menu-biomedbridges-partners
{
    width: 175px;
}

#menu-about,
{
    width: 100px;

}


/* height of body + footer = 100% */
/* min-height essential to accommodate space for items in jgxMenu and prevents dreaded whitespace appearing below footer */
#body
{
    clear:        both;
    width:        100%;
    min-width:    525px;
    height:       95%;
    min-height:   600px;
    background-color: #CCCCCC;
}


#widget-container, #blurb-container
{
    clear:        both;
    position:     relative;
    top:          5%;
    width:        90%;
    height:       90%;
    margin-right: 5%;
    margin-left:  5%;

    border-style: solid;
    border-width: 5px;
    border-radius: 10px;
    background-color: #EDEDED;
}


#blurb
{
    position: relative;
    float: left;
    margin: 5%;

    /*float: left;*/
    /*padding-top: 25px;*/
    /*padding-left: 50px;*/
    /*padding-right: 50px;*/
    /*width:750px;*/
}



#gridmenu-container
{
    position:     relative;
    height:       5%;
    min-height:   25px;
    width:        100%;
/*    background-color: #FFCCCC; */
}

#jqxMenuGrid
{
    height:       100%;
    width:    100%;
}


.menuGridItems
{
    width:          100%;
    float:        right;
    margin-top:   2px;
}

#SearchBoxContainer, #SearchButtonContainer

#SearchBox
{
    float: right;
    /*margin-top: 1px;*/
    /*width: 150px;*/
    /*height: 22px;*/
}

#SearchButton
{
    float: right;
    width:  40;
    height: 22;
}




#facets-container
{
    float:        left;
    width:        15%;
    /*min-width:    150px;*/
    height:       95%;
    background-color: #6699CC;
}

#jqxtree
{
    width:  100%;
    height: 100%;
}


#grid-container
{
    float:        left;
    /* top:          2%; */
    width:        85%;
    height:       95%;
    background-color: #A73111;
}




/* height of body + footer = 100% */
#footer
{
    clear:        both;
    width:        100%;
    min-width:    525px;
    height:       5%;
    min-height:   35px;
    background-color: #000000;
}

#footer-container
{
    position:     relative;
    top:          10px;
    width:        525px;
    height:       25px;
    margin-left:  5%;
    /*background-color: #00FF00;*/
}


.footer-text
{
    float: left;
    font-family: Verdana,Arial,Helvetica,sans-serif,serif;
    text-decoration: underline;
    color: white;
    font-size: 11px;
    margin-right: 5px;
}









#main-panel_old
{
    /*clear: both;*/
    /*-moz-border-radius: 10px;*/
    /*-webkit-border-radius: 10px;*/
    /*border-radius: 10px;*/
    /*border: 1px solid #d2d2d2;*/
    /*margin-top: 40px;*/
    /*min-height: 575px;*/
    /*height: 100%;*/
    /*margin-bottom: 2px;*/
    /*width: 96%;*/
    /*margin-left: 2%;*/
    /*margin-right: auto;*/
    /*background: #fff;*/

    /*width:1000px;*/
    /*margin-left: auto;*/

    }


#blurb-container
{
    /*width: 100%;*/
    /*height: 105px;*/
}


