/* min-width is to prevent logo and menu overlapping = logo-container:width + mainmenu-container:width + a bit for the margin-left:2% */

#header
{
    width:        100%;
    min-width:    825px;  /* Jon - was 525px before new logo added */
    height:       70px;
/*    background-color: #000000; */  /* Jon - now default (white) */
}

#logo-container
{
    position:     relative;
    float:        left;
    top:          5px;
    margin-left:  1%;               /* Jon - was 5% */
/*    width:        200px; */   /* Jon - Could specify larger size to exactly accommodate both logos */
    height:       60px;
    /*background-color: #ffff00;*/
}

#mainmenu-container
{
    position:     relative;
    float:        right;
    top:          20px;
    width:        200px;
    height:       30px;
    margin-right: 1%;   /* Jon - was 5% */
}


#mainmenu
{
    float: right;
    width: 225px;
}

.mainmenu-text
{
    font-size: 14px !important;
}

#menu-partners,
#menu-filters,
#menu-biomedbridges-partners
{
    width: 175px;
}

#menu-about,
{
    width: 100px;

}


/* height of body + footer = 100% */
/* min-height essential to accommodate space for items in jgxMenu and prevents dreaded whitespace appearing below footer */
#body
{
    clear:        both;
    width:        100%;
    min-width:    525px;
    height:       95%;
    min-height:   600px;
/*    background-color: #CCCCCC; */  /* Old colour */
/*    background-color:#bae0f2; */ /* New colour, matching the logos - not now needed*/
}


#widget-container
{
    clear:        both;
    position:     relative;
    top:          0%;                /* Jon - was 5%, then 2%  */
    width:        99%;               /* Jon - was 90%, then 98%*/
    height:       100%;               /* Jon - was 90%, then 96% */
    margin-right: 0%;                /* Jon - was 5%, then 1%  */
    margin-left:  0%;                /* Jon - was 5%, then 1%  */

    border-style: ridge;
    border-width: 4px;
    border-radius: 4px;
    /*background-color: #EDEDED;       *//* Jon - was #EDEDED; *//* */
}

#blurb-container
{
    clear:        both;
    position:     relative;
    top:          5%;                /* Jon - was 5%, then 2%  */
    width:        98%;               /* Jon - was 90%, then 98%*/
    height:       96%;               /* Jon - was 90%, then 96% */
    margin-right: 1%;                /* Jon - was 5%, then 1%  */
    margin-left:  1%;                /* Jon - was 5%, then 1%  */

    /*border-style: ridge;*/
    /*border-width: 4px;*/
    /*border-radius: 4px;*/
    background-color: #e3f3fa;       /* Jon - was #EDEDED; #bae0f2*/
}



#blurb-container
{
border-style: solid;   /* Jon - adding this back for blurb pages */
border-width: 1px;     /* Jon - adding this back for blurb pages */
border-radius: 25px;   /* Jon - adding this back for blurb pages */
}


#blurb
{
    position: relative;
    float: left;
    margin: 5%;

    /*float: left;*/
    /*padding-top: 25px;*/
    /*padding-left: 50px;*/
    /*padding-right: 50px;*/
    /*width:750px;*/
}



#gridmenu-container
{
    position:     relative;
    height:       5%;
    min-height:   25px;
    width:        100%;
/*    background-color: #FFCCCC; */

    /* Jon try bottom: 3px */
}

#jqxMenuGrid
{
    background-color:#e3f3fa;      /* Jon TRY bae0f2*/
    height:       100%;
    width:    100%;
}


.menuGridItems
{
    width:          100%;
    float:        right;
    margin-top:   2px;
}

.menuGridText
{
    font-size: 18px;
    height:    25px;  /* Height of Apply/Clear Filters buttons */
}

.search
{
    height:    25px;  /* Height of Apply/Clear Filters buttons */
    width:     25px;  /* To match height */
    background: #e8e8e8;   /* was #d1d1d1 */
    border-width: 1px;
    border-style: solid;
    border-color: #999;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

#SearchBoxContainer, #SearchButtonContainer
{}

#SearchBox
{
    float: right;
    /*margin-top: 1px;*/
    /*width: 150px;*/
    height: 25px;   /* Matches height of Apply/Clear Filters buttons */
}

#SearchButton
{
    float: right;
    width:  40;
    height: 25px;  /* Matches height of Apply/Clear Filters buttons */
    /*background: lightgreen;*/
}


#clearfilter
{
    color: #f8fcfe;
    backgroundColor: #e8e8e8;
    width: 100px;
}



#facets-container
{
    float:        left;
    width:        15%;
    /*min-width:    150px;*/
    height:       95%;
    /*background-color: #6699CC;*/
}


#jqxtree
{
    width:  100%;
    height: 100%;
}


/* For grid styling see: http://www.jqwidgets.com/jquery-widgets-documentation/documentation/jqxgrid/jquery-grid-styling-and-appearance.htm */


#grid-container
{
    float:        left;
    /* top:          2%; */
    width:        100%;  /* Jon - was 85% when facets-container was used */
    height:       95%;
    background-color: #A73111;
}


.jqx-grid-cell
{
    border-width: 0px 0px 0px 0px;   /* Jon - remove lines from grid */
}

.jqx-grid-cell-alt, .jqx-grid-cell-filter
{
    /* For different shades, see http://www.w3schools.com/tags/ref_colorpicker.asp?colorhex=%23A73111 */
    background-color: #f8fcfe;  /* New colour, matching the logos */
}

.jqx-grid-cell-pinned
{
    background-color:#f8fcfe;      /* Jon TRY #e3f3fa #bae0f2, #e8e8e8*/
    /*background-color:#bae0f1;*/  /* Jon - blue */
    /* #e5e5e5 */

    border-width: 1px 3px 0px 0px;  /* Jon - consistent with jqx-grid-column-header */
}


.jqx-grid-column-header
{
    border-width: 1px 3px 0px 0px;   /* 1px gives top border, 2px makes border easier to pick for column resizing */
    font-size: 14px !important;
    background-color:#e3f3fa;      /* Jon TRY #bae0f2*/
}

#pagerjqxgrid
{
    background-color:#e3f3fa;      /* Jon TRY bae0f2*/
}

#jqxScrollAreaUpverticalScrollBarjqxgrid
{
    /*background-color:#bae0f2;      *//* Jon TRY */

}

/* height of body + footer = 100% */
#footer
{
    clear:        both;
    width:        100%;
    min-width:    525px;
    height:       5%;
    min-height:   35px;
/*    background-color: #000000; */  /* Jon - old colour, now leave it default (white) */
}

#footer-container
{
    position:     relative;
    top:          10px;
    width:        525px;
    height:       25px;
    margin-left:  5%;
    /*background-color: #00FF00;*/
}

.font
{
    font-family: Verdana,Arial,Helvetica,sans-serif,serif;
    font-size: 11px;
}


.footer-text
{
    float: left;
    font-family: Verdana,Arial,Helvetica,sans-serif,serif;
    text-decoration: underline;
    /*color: white;*/   /* Jon - old colour */
    color: black;
    font-size: 11px;
    margin-right: 5px;
}









#main-panel_old
{
    /*clear: both;*/
    /*-moz-border-radius: 10px;*/
    /*-webkit-border-radius: 10px;*/
    /*border-radius: 10px;*/
    /*border: 1px solid #d2d2d2;*/
    /*margin-top: 40px;*/
    /*min-height: 575px;*/
    /*height: 100%;*/
    /*margin-bottom: 2px;*/
    /*width: 96%;*/
    /*margin-left: 2%;*/
    /*margin-right: auto;*/
    /*background: #fff;*/

    /*width:1000px;*/
    /*margin-left: auto;*/

    }


#blurb-container
{
    /*width: 100%;*/
    /*height: 105px;*/
}


